<!doctype html>
<html lang="en">
  <head>
    <%-include('headTags')-%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    
    <script>
      $(document).ready(() => {
        //start up scripts

  
        $('#clearParams').on('click', () => {
          document.getElementById('searchTerm').value = "";
        });
      });
    </script>
    <style>
        .table tbody tr:first-child {
          background-color: rgba(0,0,0,.05);
        }
        footer {
          font-size: 10pt;
          text-align: center;
          background-color: #2B6499;
          color: white;
        }
        /* only do for IE */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          html, body {
            height: 100% !important;
          } 
        }
        h2{
          color: blue;
          line-height: 2em;

        }
        h6#NA{
          color: red;
        }

        
        h3{
          line-height: 2em;
        }

       
    </style>
    <title>Your Stocks</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <% if (typeof userFirstName === "undefined"){ %>
      <%-include('nav')-%>
    <% } else{ %>
      <%-include('navSignIn')-%>
    <% } %>

    <form method="GET" action="/portfolio" class="pl-2">

      <div class="table-responsive">
        <h3>Portfolio</h3>
  
        <table class="table table-striped table-bordered">
          
              <tr>
                  <th>Net Account Value</th>
                  <td>$<%=parseFloat(netValue).toLocaleString('en-US', {minimumFractionDigits:2})%></td>
              </tr>
              <tr>
                  <th>Day's Gain</th>
                  <% if (allDayGain < 0) {%>
                      <td class="text-danger">$<%=parseFloat(allDayGain).toLocaleString('en-US', {minimumFractionDigits:2})%>(<%=((allDayGain/netValue) * 100).toFixed(2)%>%)</td>
                  <%} else {%>
                      <td class="text-success">$<%=parseFloat(allDayGain).toLocaleString('en-US', {minimumFractionDigits:2})%>(<%=((allDayGain/netValue) * 100).toFixed(2)%>%)</td>
                  <%}%>
              </tr>   
              <tr>
                <th>Totals's Gain</th>
                <% if (totalGain < 0) {%>
                    <td class="text-danger">$<%=parseFloat(totalGain).toLocaleString('en-US', {minimumFractionDigits:2})%>(<%=((totalGain/netValue) * 100).toFixed(2)%>%)</td>
                <%} else {%>
                    <td class="text-success">$<%=parseFloat(totalGain).toLocaleString('en-US', {minimumFractionDigits:2})%>(<%=((totalGain/netValue) * 100).toFixed(2)%>%)</td>
                <%}%>
            </tr> 
              <tr>
                  <th>Cash Purchasing Power</th>
                  <td>$<%=parseFloat(cost['cash']).toLocaleString('en-US', {minimumFractionDigits:2})%></td>
              </tr>                   
        </table>
    </div>
  
    <div class="table-responsive ">
      <table class="table table-bordered">
    
        <% if(search == "empty portfolio"){ %>
          <h2>You do not have any stock in your portfolio !!</h2>
        <% } else{ %>  
          <tr>
            <th>Stock Ticker</th><th>Company Name</th><th>High</th><th>Low</th><th>Latest Price</th>
            <th>Change</th><th>Change Percent</th><th>Day Gain</th><th>Total Gain</th>
            <th>52 Week High</th><th>52 Week Low</th><th>Cost Basis</th>
          </tr>
  
      <% for (var i=0; i < Object.keys(search).length; i++) {%>
        <tr>
            <td><a href='/stock?ticker=<%=Object.keys(search)[i]%>'><%=Object.keys(search)[i]%></a></td>
            
            <% if(search[Object.keys(search)[i]]['quote']['companyName'] != null){ %>
              <td><h6><%=search[Object.keys(search)[i]]['quote']['companyName']%></h6></td>
              <% } else{ %>  
                <td><h6 id="NA">N/A</h6></td>
      
                 <% } %>


                 <% if(stocksPrice[i]['summaryDetail']['dayHigh'] != null){ %>
                  <td><h6><%="$" +stocksPrice[i]['summaryDetail']['dayHigh'].toFixed(2)%></h6></td>
                  <% } else{ %>  
                    <td><h6 id="NA">N/A</h6></td>
          
                     <% } %>
                 

                     <% if(stocksPrice[i]['summaryDetail']['dayLow'] != null){ %>
                      <td><h6><%="$" + stocksPrice[i]['summaryDetail']['dayLow'].toFixed(2)%></h6></td>
                      <% } else{ %>  
                        <td><h6 id="NA">N/A</h6></td>
              
                         <% } %>


                     <% if(search[Object.keys(search)[i]]['quote']['latestPrice'] != null){ %>
                      <td><h6><%="$" +search[Object.keys(search)[i]]['quote']['latestPrice'].toFixed(2)%></h6></td>
                      <% } else{ %>  
                        <td><h6 id="NA">N/A</h6></td>
              
                         <% } %>


                      

                             <% if(search[Object.keys(search)[i]]['quote']['change'] != null){ %>
                              <td><h6><%="$" + search[Object.keys(search)[i]]['quote']['change'].toFixed(2)%></h6></td>
                              <% } else{ %>  
                                <td><h6 id="NA">N/A</h6></td>
                      
                                 <% } %>

                                 <% if(search[Object.keys(search)[i]]['quote']['changePercent'] != null){ %>
                                  <td><h6><%=parseFloat(search[Object.keys(search)[i]]['quote']['changePercent']*100).toFixed(2) + "%" %></h6></td>
                                  <% } else{ %>  
                                    <td><h6 id="NA">N/A</h6></td>
                          
                                     <% } %>

                                     <% if(portfolioObj.stocks[i].dayGain != null){ %>
                                      <td><h6><%="$" + portfolioObj.stocks[i].dayGain%></h6></td>
                                      <% } else{ %>  
                                        <td><h6 id="NA">N/A</h6></td>
                              
                                         <% } %>
                                         <% if(totalGainStock != null){ %>
                                          <td><h6><%="$" + totalGainStock[i]%></h6></td>
                                          <% } else{ %>  
                                            <td><h6 id="NA">N/A</h6></td>
                                  
                                             <% } %>

                                             <% if(search[Object.keys(search)[i]]['quote']['week52High'] != null){ %>
                                              <td><h6><%="$" + search[Object.keys(search)[i]]['quote']['week52High'].toFixed(2)%></h6></td>
                                              <% } else{ %>  
                                                <td><h6 id="NA">N/A</h6></td>
                                      
                                                 <% } %>


                                             <% if(search[Object.keys(search)[i]]['quote']['week52Low'] != null){ %>
                                              <td><h6><%="$" + search[Object.keys(search)[i]]['quote']['week52Low'].toFixed(2)%></h6></td>
                                              <% } else{ %>  
                                                <td><h6 id="NA">N/A</h6></td>
                                      
                                                 <% } %>
                                                 
                                                 <% if(cost['stocks'][i]['purchasePrice'] != null){ %>
                                                  <td><h6><%="$" + cost['stocks'][i]['purchasePrice']  %></h6></td>
                                                  <% } else{ %>  
                                                    <td><h6 id="NA">N/A</h6></td>
                                          
                                                     <% } %>

        </tr> 
      <%}%>       <% } %>



   
        

       
        

      





      </table>
      <h3 class="pl-2 text-danger"><%=noResultsParam%></h3>
      <div class="float-right pr-2">
        <%-paginationString-%>
      </div>
    </div>
    </form>
    <%-include ('footer')-%>
  </body>
</html>