<!doctype html>
<html lang="en">
  <head>
    <%-include('headTags')-%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    
    <style>
        .table tbody tr:first-child {
          background-color: rgba(0,0,0,.05);
        }
        footer {
          font-size: 10pt;
          text-align: center;
          background-color: #2B6499;
          color: white;
        }
        /* only do for IE */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          html, body {
            height: 100% !important;
          } 
        }
       
    </style>
    <title>Your Stocks</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <% if (typeof userFirstName === "undefined"){ %>
      <%-include('nav')-%>
    <% } else{ %>
      <%-include('navSignIn')-%>
    <% } %>
    <form>
    <div class="table-responsive">
      <table class="table">
        
      <tr>
          <td><h3>You do not have any stock in your portfolio</h3></td>
      </tr> 

      </table>
      <h3 class="pl-2 text-danger"><%=noResultsParam%></h3>
      <div class="float-right pr-2">
        <%-paginationString-%>
      </div>
    </div>
    </form>
    <%-include ('footer')-%>
  </body>
</html>